/* CARD WRAPPER */
.product-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  padding: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.35s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.15);
}

/* IMAGE */
.product-image {
  width: 100%;
  height: 240px;
  background: #f3f3f3;
  border-radius: 16px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* PLACEHOLDER */
.img-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #777;
}

/* CONTENT */
.product-content {
  padding: 18px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

/* TITLE */
.product-title {
  font-size: 20px;
  font-weight: 600;
  color: #1f3d2b;
  margin-bottom: 8px;
}

/* DESCRIPTION */
.product-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 12px;
  font-weight: 600;
}

/* USAGE */
.product-usage {
  font-size: 14px;
  color: #333;
  margin-bottom: 12px;
}

/* ATTRIBUTES */
.product-attrs {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* ATTR CHIP */
.attr-chip {
  background: #f6f2e8;
  /* color: #444; */
    color: #1f3d2b;
  font-size: 15px;
  font-weight: 520;
  padding: 6px 14px;
  border-radius: 15px;
  white-space: nowrap;
}
